@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'IBM PLex Sans', sans-serif;
}

body, html {
    height: 100%;
}
body {
    background-color: rgba(98,0,234,255);
    min-height: 100vh;
    position: relative;
    text-align: left;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    width: 800px;
    height: 450px;
    margin-top: 100px;
    left: 30%;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
}

#card-header {
    display: flex;
    align-items: center;
    font-size: 12px;
    border-bottom: solid #f9f9f9;
    border-bottom-width: .075rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -40px;
    height: 3.5rem;
}

#card-header > h2 {
    padding-left: 15px;
    padding-bottom: 2px;
}

#header-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

button {
    background-color: transparent;
    color: black;
    border-radius: 5px;
    transition: all .5s ease;
    padding: 10px;
    width: 120px;
    height: 45px;
    cursor: pointer;
}

#project-tabs {
    display: grid;
    max-width: 500px;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    overflow-y: auto;
}



#header-buttons > button, #project-tabs > button {
    font-weight: bold;
    border: none;
}

#header-buttons > button:hover, #project-tabs > button:hover {
    color: black;
    background-color: #e3e3e3;

}

#card-content {
    display:flex;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    border-bottom: solid #e9e9e9;
    border-bottom-width: .1rem;
}

#card-left {
    display: flex;
    padding-left: 20px;
    column-gap: 20px;
}

#card-right {
    padding-right: 10px;
}

.trash-button {
    border: none;
    background: url(./trash-default.png) center no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.trash-button:hover {
    background: url(./trash-hover.png) center no-repeat;
    background-size: 100% 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-add-task {
    border: none;
    background-color: #3f6ad8;
    color: white;
}

#footer-add-task:hover {
    background-color: #2046a5;
}


.project-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#project-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 20%;
    height: 20%;
}

#project-modal-top {
    padding-left: 15%;
}

#project-modal-bottom {
    padding-left: 105px;
}

#project-modal-bottom > button {
    background-color: #3f6ad8;
    border: none;
    color: white;
    height: 50px;
    width: 150px;
}
#project-modal-bottom > button:hover {
    background-color: #2046a5;
}

#project-modal-content > input {
    height: 20px;
    border-radius: 1px;
    border: solid 1px black;
}

.new-task-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#task-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 20%;
    height: 20%;
}

#task-modal-inputs {
    display: flex;
    flex-direction: column;
}

#task-modal-top > select {
    width: 75px;
    height: 22px;
    border-radius: 1px;
}

#task-modal-bottom > button {
    background-color: #3f6ad8;
    border: none;
    color: white;
    height: 50px;
    width: 150px;
}
#task-modal-bottom > button:hover {
    background-color: #2046a5;
}